In [5]:
!ls

20220708_nextsteps.pptx  test_submission  Untitled.ipynb
sample_submission.csv	 test_ver2.csv	  Untitled.py
s-product-recomendation  train_ver2.csv   Untitled.txt

In [170]:
import pandas as pd
import numpy as np

In [171]:
pd.options.display.max_columns=100

In [172]:
%time train = pd.read_csv("train_ver2.csv")
display(train.head())
display(train.shape)

/home/raischel/Envs/ds1/lib64/python3.10/site-packages/IPython/core/magics/execution.py:1335: DtypeWarning: Columns (5,8,11,15) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code, glob, local_ns)

CPU times: user 28.2 s, sys: 27.3 s, total: 55.5 s
Wall time: 1min 20s

,fecha_dato,ncodpers,ind_empleado,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,indrel,ult_fec_cli_1t,indrel_1mes,tiprel_1mes,indresi,indext,conyuemp,canal_entrada,indfall,tipodom,cod_prov,nomprov,ind_actividad_cliente,renta,segmento,ind_ahor_fin_ult1,ind_aval_fin_ult1,ind_cco_fin_ult1,ind_cder_fin_ult1,ind_cno_fin_ult1,ind_ctju_fin_ult1,ind_ctma_fin_ult1,ind_ctop_fin_ult1,ind_ctpp_fin_ult1,ind_deco_fin_ult1,ind_deme_fin_ult1,ind_dela_fin_ult1,ind_ecue_fin_ult1,ind_fond_fin_ult1,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
0,2015-01-28,1375586,N,ES,H,35,2015-01-12,0.0,6,1.0,NaN,1.0,A,S,N,NaN,KHL,N,1.0,29.0,MALAGA,1.0,87218.10,02 - PARTICULARES,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
1,2015-01-28,1050611,N,ES,V,23,2012-08-10,0.0,35,1.0,NaN,1.0,I,S,S,NaN,KHE,N,1.0,13.0,CIUDAD REAL,0.0,35548.74,03 - UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
2,2015-01-28,1050612,N,ES,V,23,2012-08-10,0.0,35,1.0,NaN,1.0,I,S,N,NaN,KHE,N,1.0,13.0,CIUDAD REAL,0.0,122179.11,03 - UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
3,2015-01-28,1050613,N,ES,H,22,2012-08-10,0.0,35,1.0,NaN,1.0,I,S,N,NaN,KHD,N,1.0,50.0,ZARAGOZA,0.0,119775.54,03 - UNIVERSITARIO,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
4,2015-01-28,1050614,N,ES,V,23,2012-08-10,0.0,35,1.0,NaN,1.0,A,S,N,NaN,KHE,N,1.0,50.0,ZARAGOZA,1.0,NaN,03 - UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0

(13647309, 48)

In [173]:
train.describe()

,ncodpers,ind_nuevo,indrel,tipodom,cod_prov,ind_actividad_cliente,renta,ind_ahor_fin_ult1,ind_aval_fin_ult1,ind_cco_fin_ult1,ind_cder_fin_ult1,ind_cno_fin_ult1,ind_ctju_fin_ult1,ind_ctma_fin_ult1,ind_ctop_fin_ult1,ind_ctpp_fin_ult1,ind_deco_fin_ult1,ind_deme_fin_ult1,ind_dela_fin_ult1,ind_ecue_fin_ult1,ind_fond_fin_ult1,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
count,1.364731e+07,1.361958e+07,1.361958e+07,13619574.0,1.355372e+07,1.361958e+07,1.085293e+07,1.364731e+07,1.364731e+07,1.364731e+07,1.364731e+07,1.364731e+07,1.364731e+07,1.364731e+07,1.364731e+07,1.364731e+07,1.364731e+07,1.364731e+07,1.364731e+07,1.364731e+07,1.364731e+07,1.364731e+07,1.364731e+07,1.364731e+07,1.364731e+07,1.364731e+07,1.364731e+07,1.364731e+07,1.363125e+07,1.363125e+07,1.364731e+07
mean,8.349042e+05,5.956184e-02,1.178399e+00,1.0,2.657147e+01,4.578105e-01,1.342543e+05,1.022912e-04,2.315475e-05,6.554837e-01,3.939238e-04,8.086722e-02,9.474175e-03,9.726606e-03,1.290083e-01,4.330583e-02,1.778739e-03,1.660987e-03,4.296679e-02,8.274357e-02,1.848599e-02,5.886582e-03,9.170965e-03,2.627404e-03,5.253636e-02,4.438868e-02,2.560761e-02,3.847718e-03,5.472434e-02,5.942854e-02,1.279162e-01
std,4.315650e+05,2.366733e-01,4.177469e+00,0.0,1.278402e+01,4.982169e-01,2.306202e+05,1.011340e-02,4.811883e-03,4.752103e-01,1.984361e-02,2.726311e-01,9.687320e-02,9.814275e-02,3.352091e-01,2.035447e-01,4.213757e-02,4.072135e-02,2.027823e-01,2.754942e-01,1.347006e-01,7.649791e-02,9.532502e-02,5.119083e-02,2.231060e-01,2.059571e-01,1.579616e-01,6.191053e-02,2.274414e-01,2.364250e-01,3.339965e-01
min,1.588900e+04,0.000000e+00,1.000000e+00,1.0,1.000000e+00,0.000000e+00,1.202730e+03,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,4.528130e+05,0.000000e+00,1.000000e+00,1.0,1.500000e+01,0.000000e+00,6.871098e+04,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,9.318930e+05,0.000000e+00,1.000000e+00,1.0,2.800000e+01,0.000000e+00,1.018500e+05,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,1.199286e+06,0.000000e+00,1.000000e+00,1.0,3.500000e+01,1.000000e+00,1.559560e+05,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
max,1.553689e+06,1.000000e+00,9.900000e+01,1.0,5.200000e+01,1.000000e+00,2.889440e+07,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00

In [174]:
train.groupby("ncodpers").ind_nuevo.count().mean()

14.236811983546666

In [162]:
%time test = pd.read_csv("test_ver2.csv")

/home/raischel/Envs/ds1/lib64/python3.10/site-packages/IPython/core/magics/execution.py:1335: DtypeWarning: Columns (15) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code, glob, local_ns)

CPU times: user 1.3 s, sys: 214 ms, total: 1.52 s
Wall time: 2.04 s

In [163]:
test.shape

(929615, 24)

In [164]:
test.groupby("ncodpers").ind_nuevo.count().mean()

1.0

In [165]:
train.groupby("ncodpers").fecha_dato.max().head()

ncodpers
15889    2016-05-28
15890    2016-05-28
15891    2015-08-28
15892    2016-05-28
15893    2016-05-28
Name: fecha_dato, dtype: object

In [119]:
test.groupby("ncodpers").fecha_dato.max().head()

ncodpers
15889    2016-06-28
15890    2016-06-28
15892    2016-06-28
15893    2016-06-28
15894    2016-06-28
Name: fecha_dato, dtype: object

In [127]:
train.columns

Index(['fecha_dato', 'ncodpers', 'ind_empleado', 'pais_residencia', 'sexo',
       'age', 'fecha_alta', 'ind_nuevo', 'antiguedad', 'indrel',
       'ult_fec_cli_1t', 'indrel_1mes', 'tiprel_1mes', 'indresi', 'indext',
       'conyuemp', 'canal_entrada', 'indfall', 'tipodom', 'cod_prov',
       'nomprov', 'ind_actividad_cliente', 'renta', 'segmento',
       'ind_ahor_fin_ult1', 'ind_aval_fin_ult1', 'ind_cco_fin_ult1',
       'ind_cder_fin_ult1', 'ind_cno_fin_ult1', 'ind_ctju_fin_ult1',
       'ind_ctma_fin_ult1', 'ind_ctop_fin_ult1', 'ind_ctpp_fin_ult1',
       'ind_deco_fin_ult1', 'ind_deme_fin_ult1', 'ind_dela_fin_ult1',
       'ind_ecue_fin_ult1', 'ind_fond_fin_ult1', 'ind_hip_fin_ult1',
       'ind_plan_fin_ult1', 'ind_pres_fin_ult1', 'ind_reca_fin_ult1',
       'ind_tjcr_fin_ult1', 'ind_valo_fin_ult1', 'ind_viv_fin_ult1',
       'ind_nomina_ult1', 'ind_nom_pens_ult1', 'ind_recibo_ult1'],
      dtype='object')

In [128]:
test.columns

Index(['fecha_dato', 'ncodpers', 'ind_empleado', 'pais_residencia', 'sexo',
       'age', 'fecha_alta', 'ind_nuevo', 'antiguedad', 'indrel',
       'ult_fec_cli_1t', 'indrel_1mes', 'tiprel_1mes', 'indresi', 'indext',
       'conyuemp', 'canal_entrada', 'indfall', 'tipodom', 'cod_prov',
       'nomprov', 'ind_actividad_cliente', 'renta', 'segmento'],
      dtype='object')

In [166]:
train_uid = set(train.ncodpers.unique())
len(train_uid)

956645

In [167]:
test_uid = set(test.ncodpers.unique())
len(test_uid)

929615

In [168]:
len(train_uid.intersection(test_uid))

929615

In [169]:
test_uid.issubset(train_uid)

True

So, in conclusion:

    - train set has ind_xxx_fin_ult1 target columsn , test set does not
    - tarin has on avg 14 months of history
    - test set only has last month for each user, 2016-06-28
    - uids of test set are subset of uids of train set
    - instead of plitting by uids, as below, we should split by months. 
    - The first n months should be for train and feature building.
    - The last month n+1 (i.e. all uids therein)are the test set to predict the product bought in the last month.

## Train Set Split by uid

In [14]:
uids = train.ncodpers.unique()
display(uids.shape)

(956645,)

In [15]:
#uids_test_public

np.random.seed(123456) 
sample_sizes = int(0.07*uids.shape[0] )

In [16]:
uids_test_public = set(np.random.choice(uids, size=sample_sizes,  replace=False))
len(uids_test_public)

66965

In [17]:
uids_train = set(uids)
display(len(uids_train))
uids_train.difference_update(uids_test_public)
display(len(uids_train))

956645

889680

In [18]:
956645 - 889680

66965

In [19]:
66965/956645

0.06999984320202374

In [20]:
uids_test_private = set(np.random.choice(np.array(list(uids_train)), size=sample_sizes,  replace=False))
len(uids_test_private)

66965

In [21]:
#uids_train = set(uids)
display(len(uids_train))
uids_train.difference_update(uids_test_private)
display(len(uids_train))

889680

822715

In [22]:
assert(len(uids_train.intersection(uids_test_private))==0)
assert(len(uids_train.intersection(uids_test_public))==0)
assert(len(uids_test_public.intersection(uids_test_private))==0)

# Slit into train / test_public and test_private sets

In [23]:
test_public  = train[train.ncodpers.isin(uids_test_public)]
test_private  = train[train.ncodpers.isin(uids_test_private)]
train = train[~train.ncodpers.isin(uids_test_private)]
train = train[~train.ncodpers.isin(uids_test_public )]

In [24]:
display(train.shape)
display(test_public.shape)
display(test_private.shape)

(11734949, 48)

(956666, 48)

(955694, 48)

In [25]:
display(train.ncodpers.nunique())
display(test_public.ncodpers.nunique())
display(test_private.ncodpers.nunique())

822715

66965

66965

In [44]:
66965/827329

0.08094119751634477

In [27]:
assert(len(uids_test_private.intersection(uids_test_public))==0)
assert(len(uids_test_public.intersection(uids_test_private))==0)
assert(len(uids_test_public.intersection(uids_train))==0)

# Check metrics

In [28]:
train.groupby("ncodpers").count()

,fecha_dato,ind_empleado,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,indrel,ult_fec_cli_1t,indrel_1mes,tiprel_1mes,indresi,indext,conyuemp,canal_entrada,indfall,tipodom,cod_prov,nomprov,ind_actividad_cliente,renta,segmento,ind_ahor_fin_ult1,ind_aval_fin_ult1,ind_cco_fin_ult1,ind_cder_fin_ult1,ind_cno_fin_ult1,ind_ctju_fin_ult1,ind_ctma_fin_ult1,ind_ctop_fin_ult1,ind_ctpp_fin_ult1,ind_deco_fin_ult1,ind_deme_fin_ult1,ind_dela_fin_ult1,ind_ecue_fin_ult1,ind_fond_fin_ult1,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
ncodpers,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
15889,17,17,17,17,17,17,17,17,17,0,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17
15890,17,17,17,17,17,17,17,17,17,0,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17
15891,2,2,2,2,2,2,2,2,2,1,2,2,2,2,2,2,2,2,2,2,2,0,1,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
15892,17,17,17,17,17,17,17,17,17,0,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17
15893,17,17,17,17,17,17,17,17,17,0,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1553684,1,1,1,1,1,1,1,1,1,0,0,0,1,1,0,0,1,1,1,1,1,0,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
1553685,1,1,1,1,1,1,1,1,1,0,0,0,1,1,0,0,1,1,1,1,1,0,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
1553686,1,1,1,1,1,1,1,1,1,0,0,0,1,1,0,0,1,1,1,1,1,0,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
1553687,1,1,1,1,1,1,1,1,1,0,0,0,1,1,0,0,1,1,1,1,1,0,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
1553688,1,1,1,1,1,1,1,1,1,0,0,0,1,1,0,0,1,1,1,1,1,0,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1

In [29]:
display(train.groupby("ncodpers").age.count().mean(), train.groupby("ncodpers").age.count().std())
display(test_public.groupby("ncodpers").age.count().mean(), test_public.groupby("ncodpers").age.count().std())
display(test_private.groupby("ncodpers").age.count().mean(), test_private.groupby("ncodpers").age.count().std())

14.263686695878889

4.028991782302301

14.286059882027924

4.026842757092107

14.271544836855073

4.029656482184818

# Function to tranfer one person time series into target string

In [30]:
len(uids_train)

822715

In [33]:
k=7
dfi=train[train.ncodpers==list(uids_train)[k]]
dfi

,fecha_dato,ncodpers,ind_empleado,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,indrel,ult_fec_cli_1t,indrel_1mes,tiprel_1mes,indresi,indext,conyuemp,canal_entrada,indfall,tipodom,cod_prov,nomprov,ind_actividad_cliente,renta,segmento,ind_ahor_fin_ult1,ind_aval_fin_ult1,ind_cco_fin_ult1,ind_cder_fin_ult1,ind_cno_fin_ult1,ind_ctju_fin_ult1,ind_ctma_fin_ult1,ind_ctop_fin_ult1,ind_ctpp_fin_ult1,ind_deco_fin_ult1,ind_deme_fin_ult1,ind_dela_fin_ult1,ind_ecue_fin_ult1,ind_fond_fin_ult1,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
416971,2015-01-28,15897,A,ES,V,61,1995-01-16,0.0,246,1.0,NaN,1.0,A,S,N,N,KAT,N,1.0,28.0,MADRID,1.0,175450.05,01 - TOP,0,0,1,0,1,0,0,1,0,0,0,0,1,1,0,1,0,1,1,1,0,0.0,1.0,1
836218,2015-02-28,15897,A,ES,V,61,1995-01-16,0.0,246,1.0,NaN,1.0,A,S,N,N,KAT,N,1.0,28.0,MADRID,1.0,175450.05,01 - TOP,0,0,1,0,1,0,0,1,0,0,0,0,1,1,0,1,0,1,1,1,0,0.0,1.0,1
1673955,2015-03-28,15897,A,ES,V,61,1995-01-16,0.0,246,1.0,NaN,1.0,A,S,N,N,KAT,N,1.0,28.0,MADRID,1.0,175450.05,01 - TOP,0,0,1,0,1,0,0,1,0,0,0,0,1,1,0,1,0,1,1,1,0,0.0,0.0,1
2092178,2015-04-28,15897,A,ES,V,61,1995-01-16,0.0,246,1.0,NaN,1.0,A,S,N,N,KAT,N,1.0,28.0,MADRID,1.0,175450.05,01 - TOP,0,0,1,0,1,0,0,1,0,0,0,0,1,1,0,1,0,1,1,1,0,0.0,1.0,1
2933726,2015-05-28,15897,A,ES,V,61,1995-01-16,0.0,246,1.0,NaN,1.0,A,S,N,N,KAT,N,1.0,28.0,MADRID,1.0,175450.05,01 - TOP,0,0,1,0,1,0,0,1,0,0,0,0,1,1,0,1,0,1,1,1,0,0.0,0.0,1
3565733,2015-06-28,15897,A,ES,V,61,1995-01-16,0.0,246,1.0,NaN,1.0,A,S,N,N,KAT,N,1.0,28.0,MADRID,1.0,175450.05,01 - TOP,0,0,1,0,1,0,0,1,0,0,0,0,1,1,0,1,0,1,1,1,0,0.0,1.0,1
4078988,2015-07-28,15897,A,ES,V,61,1995-01-16,0.0,246,1.0,NaN,1,A,S,N,N,KAT,N,1.0,28.0,MADRID,1.0,175450.05,01 - TOP,0,0,1,0,1,0,0,1,0,0,0,0,1,1,0,1,0,1,1,1,0,0.0,1.0,1
5319236,2015-08-28,15897,A,ES,V,62,1995-01-16,0.0,247,1.0,NaN,1.0,A,S,N,N,KAT,N,1.0,28.0,MADRID,1.0,175450.05,01 - TOP,0,0,1,0,1,0,0,1,0,0,0,0,1,1,0,1,0,1,1,1,0,0.0,1.0,1
5705181,2015-09-28,15897,A,ES,V,62,1995-01-16,0.0,248,1.0,NaN,1.0,A,S,N,N,KAT,N,1.0,28.0,MADRID,1.0,175450.05,01 - TOP,0,0,1,0,1,0,0,1,0,0,0,0,1,1,0,1,0,1,1,1,0,0.0,1.0,1
6909784,2015-10-28,15897,A,ES,V,62,1995-01-16,0.0,249,1.0,NaN,1,A,S,N,N,KAT,N,1.0,28.0,MADRID,1.0,175450.05,01 - TOP,0,0,1,0,1,0,0,1,0,0,0,0,1,1,0,1,0,1,1,1,0,0.0,1.0,1
7450499,2015-11-28,15897,A,ES,V,62,1995-01-16,0.0,250,1.0,NaN,1.0,A,S,N,N,KAT,N,1.0,28.0,MADRID,1.0,175450.05,01 - TOP,0,0,1,0,1,0,0,1,0,0,0,0,1,1,0,1,0,1,1,1,0,0.0,1.0,1
8617999,2015-12-28,15897,A,ES,V,62,1995-01-16,0.0,251,1.0,NaN,1,A,S,N,N,KAT,N,1.0,28.0,MADRID,1.0,175450.05,01 - TOP,0,0,1,0,1,0,0,1,0,0,0,0,1,1,0,1,0,1,1,1,0,0.0,1.0,1
9401562,2016-01-28,15897,A,ES,V,62,1995-01-16,0.0,252,1.0,NaN,1.0,A,S,N,N,KAT,N,1.0,28.0,MADRID,1.0,175450.05,01 - TOP,0,0,1,0,1,0,0,1,0,0,0,0,1,1,0,1,0,1,1,1,0,0.0,0.0,1
10426093,2016-02-28,15897,A,ES,V,62,1995-01-16,0.0,253,1.0,NaN,1.0,A,S,N,N,KAT,N,1.0,28.0,MADRID,1.0,175450.05,01 - TOP,0,0,1,0,1,0,0,1,0,0,0,0,1,1,0,1,0,1,1,1,0,0.0,1.0,1
11170864,2016-03-28,15897,A,ES,V,62,1995-01-16,0.0,254,1.0,NaN,1.0,A,S,N,N,KAT,N,1.0,28.0,MADRID,1.0,175450.05,01 - TOP,0,0,0,0,1,0,0,1,0,0,0,0,1,1,0,1,0,1,1,1,0,0.0,1.0,1
12221048,2016-04-28,15897,A,ES,V,62,1995-01-16,0.0,255,1.0,NaN,1,A,S,N,N,KAT,N,1.0,28.0,MADRID,1.0,175450.05,01 - TOP,0,0,0,0,1,0,0,1,0,0,0,0,1,1,0,1,0,1,1,1,0,0.0,1.0,1
13026336,2016-05-28,15897,A,ES,V,62,1995-01-16,0.0,256,1.0,NaN,1.0,A,S,N,N,KAT,N,1.0,28.0,MADRID,1.0,175450.05,01 - TOP,0,0,0,0,1,0,0,1,0,0,0,0,1,1,0,1,0,1,1,1,0,0.0,1.0,1

In [34]:
dfi.sort_values("fecha_dato",  ascending=True)
dfi.columns

Index(['fecha_dato', 'ncodpers', 'ind_empleado', 'pais_residencia', 'sexo',
       'age', 'fecha_alta', 'ind_nuevo', 'antiguedad', 'indrel',
       'ult_fec_cli_1t', 'indrel_1mes', 'tiprel_1mes', 'indresi', 'indext',
       'conyuemp', 'canal_entrada', 'indfall', 'tipodom', 'cod_prov',
       'nomprov', 'ind_actividad_cliente', 'renta', 'segmento',
       'ind_ahor_fin_ult1', 'ind_aval_fin_ult1', 'ind_cco_fin_ult1',
       'ind_cder_fin_ult1', 'ind_cno_fin_ult1', 'ind_ctju_fin_ult1',
       'ind_ctma_fin_ult1', 'ind_ctop_fin_ult1', 'ind_ctpp_fin_ult1',
       'ind_deco_fin_ult1', 'ind_deme_fin_ult1', 'ind_dela_fin_ult1',
       'ind_ecue_fin_ult1', 'ind_fond_fin_ult1', 'ind_hip_fin_ult1',
       'ind_plan_fin_ult1', 'ind_pres_fin_ult1', 'ind_reca_fin_ult1',
       'ind_tjcr_fin_ult1', 'ind_valo_fin_ult1', 'ind_viv_fin_ult1',
       'ind_nomina_ult1', 'ind_nom_pens_ult1', 'ind_recibo_ult1'],
      dtype='object')

In [35]:
target_cols = [ 'ind_ahor_fin_ult1', 'ind_aval_fin_ult1', 'ind_cco_fin_ult1',
       'ind_cder_fin_ult1', 'ind_cno_fin_ult1', 'ind_ctju_fin_ult1',
       'ind_ctma_fin_ult1', 'ind_ctop_fin_ult1', 'ind_ctpp_fin_ult1',
       'ind_deco_fin_ult1', 'ind_deme_fin_ult1', 'ind_dela_fin_ult1',
       'ind_ecue_fin_ult1', 'ind_fond_fin_ult1', 'ind_hip_fin_ult1',
       'ind_plan_fin_ult1', 'ind_pres_fin_ult1', 'ind_reca_fin_ult1',
       'ind_tjcr_fin_ult1', 'ind_valo_fin_ult1', 'ind_viv_fin_ult1',
       'ind_nomina_ult1', 'ind_nom_pens_ult1', 'ind_recibo_ult1']
dfi[target_cols]

,ind_ahor_fin_ult1,ind_aval_fin_ult1,ind_cco_fin_ult1,ind_cder_fin_ult1,ind_cno_fin_ult1,ind_ctju_fin_ult1,ind_ctma_fin_ult1,ind_ctop_fin_ult1,ind_ctpp_fin_ult1,ind_deco_fin_ult1,ind_deme_fin_ult1,ind_dela_fin_ult1,ind_ecue_fin_ult1,ind_fond_fin_ult1,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
416971,0,0,1,0,1,0,0,1,0,0,0,0,1,1,0,1,0,1,1,1,0,0.0,1.0,1
836218,0,0,1,0,1,0,0,1,0,0,0,0,1,1,0,1,0,1,1,1,0,0.0,1.0,1
1673955,0,0,1,0,1,0,0,1,0,0,0,0,1,1,0,1,0,1,1,1,0,0.0,0.0,1
2092178,0,0,1,0,1,0,0,1,0,0,0,0,1,1,0,1,0,1,1,1,0,0.0,1.0,1
2933726,0,0,1,0,1,0,0,1,0,0,0,0,1,1,0,1,0,1,1,1,0,0.0,0.0,1
3565733,0,0,1,0,1,0,0,1,0,0,0,0,1,1,0,1,0,1,1,1,0,0.0,1.0,1
4078988,0,0,1,0,1,0,0,1,0,0,0,0,1,1,0,1,0,1,1,1,0,0.0,1.0,1
5319236,0,0,1,0,1,0,0,1,0,0,0,0,1,1,0,1,0,1,1,1,0,0.0,1.0,1
5705181,0,0,1,0,1,0,0,1,0,0,0,0,1,1,0,1,0,1,1,1,0,0.0,1.0,1
6909784,0,0,1,0,1,0,0,1,0,0,0,0,1,1,0,1,0,1,1,1,0,0.0,1.0,1
7450499,0,0,1,0,1,0,0,1,0,0,0,0,1,1,0,1,0,1,1,1,0,0.0,1.0,1
8617999,0,0,1,0,1,0,0,1,0,0,0,0,1,1,0,1,0,1,1,1,0,0.0,1.0,1
9401562,0,0,1,0,1,0,0,1,0,0,0,0,1,1,0,1,0,1,1,1,0,0.0,0.0,1
10426093,0,0,1,0,1,0,0,1,0,0,0,0,1,1,0,1,0,1,1,1,0,0.0,1.0,1
11170864,0,0,0,0,1,0,0,1,0,0,0,0,1,1,0,1,0,1,1,1,0,0.0,1.0,1
12221048,0,0,0,0,1,0,0,1,0,0,0,0,1,1,0,1,0,1,1,1,0,0.0,1.0,1
13026336,0,0,0,0,1,0,0,1,0,0,0,0,1,1,0,1,0,1,1,1,0,0.0,1.0,1

In [36]:
dfi[target_cols].diff(axis=0)#.max(axis=0).max()

,ind_ahor_fin_ult1,ind_aval_fin_ult1,ind_cco_fin_ult1,ind_cder_fin_ult1,ind_cno_fin_ult1,ind_ctju_fin_ult1,ind_ctma_fin_ult1,ind_ctop_fin_ult1,ind_ctpp_fin_ult1,ind_deco_fin_ult1,ind_deme_fin_ult1,ind_dela_fin_ult1,ind_ecue_fin_ult1,ind_fond_fin_ult1,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
416971,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
836218,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1673955,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1.0,0.0
2092178,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2933726,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1.0,0.0
3565733,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4078988,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5319236,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5705181,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6909784,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7450499,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8617999,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9401562,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1.0,0.0
10426093,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
11170864,0.0,0.0,-1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12221048,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13026336,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [37]:
def search_target(df, uid):
    dfi=train[train.ncodpers==uid].sort_values("fecha_dato",  ascending=True)
    mx=dfi[target_cols].diff(axis=0).max(axis=0).max()
    mn=dfi[target_cols].diff(axis=0).min(axis=0).min()
    return mn,mx

In [41]:
search_target(train, list(uids_train)[k])

(-1.0, 1.0)

In [43]:
for i in range(100):
    display(search_target(train, uids[i])[1])

1.0

nan

0.0

0.0

nan

0.0

0.0

0.0

nan

1.0

0.0

nan

1.0

0.0

0.0

0.0

0.0

0.0

0.0

0.0

0.0

0.0

0.0

0.0

0.0

0.0

0.0

0.0

nan

nan

0.0

0.0

nan

0.0

0.0

0.0

1.0

0.0

0.0

1.0

1.0

1.0

0.0

0.0

1.0

0.0

0.0

0.0

0.0

0.0

0.0

0.0

0.0

0.0

0.0

0.0

0.0

nan

0.0

0.0

0.0

0.0

0.0

0.0

0.0

0.0

1.0

0.0

1.0

1.0

0.0

0.0

1.0

0.0

0.0

0.0

0.0

1.0

nan

0.0

0.0

0.0

0.0

0.0

0.0

nan

0.0

0.0

0.0

0.0

0.0

0.0

0.0

0.0

0.0

0.0

0.0

0.0

0.0

0.0

In [45]:
i=0
display(search_target(train, uids[i]))

(-1.0, 1.0)

In [124]:
dfi=train[train.ncodpers==uids[i]].sort_values("fecha_dato",  ascending=True)
dfi.index = dfi.fecha_dato
dfi[target_cols].diff(axis=0)

,ind_ahor_fin_ult1,ind_aval_fin_ult1,ind_cco_fin_ult1,ind_cder_fin_ult1,ind_cno_fin_ult1,ind_ctju_fin_ult1,ind_ctma_fin_ult1,ind_ctop_fin_ult1,ind_ctpp_fin_ult1,ind_deco_fin_ult1,ind_deme_fin_ult1,ind_dela_fin_ult1,ind_ecue_fin_ult1,ind_fond_fin_ult1,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
fecha_dato,,,,,,,,,,,,,,,,,,,,,,,,
2015-01-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-02-28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2015-03-28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2015-04-28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2015-05-28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2015-06-28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2015-07-28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2015-08-28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2015-09-28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2015-10-28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2015-11-28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2015-12-28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2016-01-28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2016-02-28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2016-03-28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2016-04-28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2016-05-28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [126]:
dfid = dfi[target_cols].diff(axis=0)
dfid.iloc[-1,:]#[dfid>0]

ind_ahor_fin_ult1    0.0
ind_aval_fin_ult1    0.0
ind_cco_fin_ult1     0.0
ind_cder_fin_ult1    0.0
ind_cno_fin_ult1     0.0
ind_ctju_fin_ult1    0.0
ind_ctma_fin_ult1    0.0
ind_ctop_fin_ult1    0.0
ind_ctpp_fin_ult1    0.0
ind_deco_fin_ult1    0.0
ind_deme_fin_ult1    0.0
ind_dela_fin_ult1    0.0
ind_ecue_fin_ult1    0.0
ind_fond_fin_ult1    0.0
ind_hip_fin_ult1     0.0
ind_plan_fin_ult1    0.0
ind_pres_fin_ult1    0.0
ind_reca_fin_ult1    0.0
ind_tjcr_fin_ult1    0.0
ind_valo_fin_ult1    0.0
ind_viv_fin_ult1     0.0
ind_nomina_ult1      0.0
ind_nom_pens_ult1    0.0
ind_recibo_ult1      0.0
Name: 2016-05-28, dtype: float64

In [76]:
#dfid[dfid>0].sort_values()
a=dfid[dfid >0].stack()#.index.tolist()
a.reset_index()["level_1"].values.tolist()

['ind_recibo_ult1', 'ind_recibo_ult1']

In [101]:
def df2target(df,uid):
    """ must return df of format
    ncodpers,added_products
    15889,ind_tjcr_fin_ult1
    15890,ind_tjcr_fin_ult1 ind_recibo_ult1
    15892,ind_nomina_ult1
    15893,
    etc.
    """
    #dfi = df.ncodpers==uid#.isin(ncodpers)
    dfi=df[df.ncodpers==uid].sort_values("fecha_dato",  ascending=True)
    #dfi.sort("fecha_dato", inplace=True, ascending=True)
    dfid=dfi[target_cols].diff(axis=0)
    a=dfid[dfid >0].stack()#.index.tolist()
    a=a.reset_index()["level_1"].unique().tolist()
    a=",".join([str(uid),]+a)
    return a

In [102]:
df2target(train, uids[0])

'1375586,ind_recibo_ult1'

In [103]:
for i in range(100):
    display(df2target(train, uids[i]))

'1375586,ind_recibo_ult1'

'1050611'

'1050612'

'1050613'

'1050614'

'1050615'

'1050616'

'1050617'

'1050619'

'1050620,ind_reca_fin_ult1'

'1050621'

'1050622'

'1050623,ind_recibo_ult1,ind_cco_fin_ult1'

'1050624'

'1050625'

'1050626'

'1050610'

'1050627'

'1050609'

'1050605'

'1050582'

'1050586'

'1050588'

'1050589'

'1050591'

'1050592'

'1050595'

'1050596'

'1050597'

'1050598'

'1050599'

'1050601'

'1050602'

'1050603'

'1050604'

'1050607'

'1050580,ind_recibo_ult1'

'1050628'

'1050630'

'1050669,ind_reca_fin_ult1'

'1050670,ind_cco_fin_ult1'

'1050676,ind_ecue_fin_ult1,ind_cco_fin_ult1,ind_recibo_ult1'

'1050679'

'1050680'

'1050686,ind_recibo_ult1'

'1050688'

'1050693'

'1050694'

'1050697'

'1050703'

'1050704'

'1050706'

'1050707'

'1050710'

'1050663'

'1050629'

'1050662'

'1050660'

'1050632'

'1050633'

'1050634'

'1050635'

'1050636'

'1050639'

'1050641'

'1050642'

'1050647,ind_recibo_ult1,ind_cco_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1'

'1050648'

'1050651,ind_nomina_ult1,ind_nom_pens_ult1'

'1050652,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1'

'1050655'

'1050658'

'1050659,ind_recibo_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_valo_fin_ult1'

'1050661'

'1050711'

'1050579'

'1050577'

'1050507,ind_recibo_ult1'

'1050508'

'1050509'

'1050511'

'1050512'

'1050513'

'1050514'

'1050515'

'1050516'

'1050517'

'1050520'

'1050521'

'1050522'

'1050523'

'1050524'

'1050505'

'1050525'

'1050504'

'1050502'

'1050487'

'1050488'

'1050489'

'1050490'

# Create Output files

1. Train set

In [104]:
!s

/bin/bash: line 1: s: command not found

In [105]:
!ls

20220708_nextsteps.pptx  test_submission  Untitled.ipynb
sample_submission.csv	 test_ver2.csv	  Untitled.py
s-product-recomendation  train_ver2.csv   Untitled.txt

In [106]:
!pwd

/home/raischel/Synology/Drive/Arbeit/BNPP/Kaggle/Kaggle_santander_prodrec

In [107]:
train.shape

(11734949, 48)

In [108]:
train.head()

,fecha_dato,ncodpers,ind_empleado,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,indrel,ult_fec_cli_1t,indrel_1mes,tiprel_1mes,indresi,indext,conyuemp,canal_entrada,indfall,tipodom,cod_prov,nomprov,ind_actividad_cliente,renta,segmento,ind_ahor_fin_ult1,ind_aval_fin_ult1,ind_cco_fin_ult1,ind_cder_fin_ult1,ind_cno_fin_ult1,ind_ctju_fin_ult1,ind_ctma_fin_ult1,ind_ctop_fin_ult1,ind_ctpp_fin_ult1,ind_deco_fin_ult1,ind_deme_fin_ult1,ind_dela_fin_ult1,ind_ecue_fin_ult1,ind_fond_fin_ult1,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
0,2015-01-28,1375586,N,ES,H,35,2015-01-12,0.0,6,1.0,NaN,1.0,A,S,N,NaN,KHL,N,1.0,29.0,MALAGA,1.0,87218.10,02 - PARTICULARES,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
2,2015-01-28,1050612,N,ES,V,23,2012-08-10,0.0,35,1.0,NaN,1.0,I,S,N,NaN,KHE,N,1.0,13.0,CIUDAD REAL,0.0,122179.11,03 - UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
3,2015-01-28,1050613,N,ES,H,22,2012-08-10,0.0,35,1.0,NaN,1.0,I,S,N,NaN,KHD,N,1.0,50.0,ZARAGOZA,0.0,119775.54,03 - UNIVERSITARIO,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
5,2015-01-28,1050615,N,ES,H,23,2012-08-10,0.0,35,1.0,NaN,1.0,I,S,N,NaN,KHE,N,1.0,45.0,TOLEDO,0.0,22220.04,03 - UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
6,2015-01-28,1050616,N,ES,H,23,2012-08-10,0.0,35,1.0,NaN,1.0,I,S,N,NaN,KHE,N,1.0,24.0,LEON,0.0,295590.36,03 - UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0

In [129]:
#train.to_csv("train_FR.csv.gz")
!rm train_FR.csv.gz

2. test_private

In [110]:
test_private.head()

,fecha_dato,ncodpers,ind_empleado,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,indrel,ult_fec_cli_1t,indrel_1mes,tiprel_1mes,indresi,indext,conyuemp,canal_entrada,indfall,tipodom,cod_prov,nomprov,ind_actividad_cliente,renta,segmento,ind_ahor_fin_ult1,ind_aval_fin_ult1,ind_cco_fin_ult1,ind_cder_fin_ult1,ind_cno_fin_ult1,ind_ctju_fin_ult1,ind_ctma_fin_ult1,ind_ctop_fin_ult1,ind_ctpp_fin_ult1,ind_deco_fin_ult1,ind_deme_fin_ult1,ind_dela_fin_ult1,ind_ecue_fin_ult1,ind_fond_fin_ult1,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
4,2015-01-28,1050614,N,ES,V,23,2012-08-10,0.0,35,1.0,NaN,1.0,A,S,N,NaN,KHE,N,1.0,50.0,ZARAGOZA,1.0,NaN,03 - UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
28,2015-01-28,1050597,N,ES,H,23,2012-08-10,0.0,35,1.0,NaN,1.0,A,S,N,NaN,KHE,N,1.0,45.0,TOLEDO,0.0,NaN,03 - UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
29,2015-01-28,1050598,N,ES,H,23,2012-08-10,0.0,35,1.0,NaN,1.0,A,S,N,NaN,KHE,N,1.0,45.0,TOLEDO,1.0,90408.75,03 - UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
78,2015-01-28,1050508,N,ES,H,27,2012-08-10,0.0,35,1.0,NaN,1.0,A,S,S,NaN,KHE,N,1.0,8.0,BARCELONA,1.0,173223.78,03 - UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
111,2015-01-28,1050503,N,ES,V,23,2012-08-10,0.0,35,1.0,NaN,1.0,A,S,N,NaN,KHE,N,1.0,36.0,PONTEVEDRA,1.0,NaN,03 - UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0

In [116]:
test_private.groupby("ncodpers").fecha_dato.count().mean()

14.271544836855073

In [118]:
test_private.groupby("ncodpers").fecha_dato.max().head()

ncodpers
15907    2016-05-28
15926    2016-05-28
15960    2016-05-28
16052    2016-05-28
16095    2016-05-28
Name: fecha_dato, dtype: object

Done: 

    - split train / test set (private / public) 
    - created solution on test set (in principle) 

Next steps:

        - recreate target on last month only, 2016-05-28
        - remove last month 2016-05-28 from train set 
        - save train and test sets to csv
        - create solution file of format : 

            ncodpers,added_products
            15889,ind_tjcr_fin_ult1
            15890,ind_tjcr_fin_ult1 ind_recibo_ult1
            15892,ind_nomina_ult1
            15893,
            etc.
            
         + added Usage="Public"|"Private" columns
        - add PEdro as host: ask for Kaggle UN
        - upload code to gitlab.
        - do a sandbox submission.

In [130]:
display(train.shape)
display(train.head())

(11734949, 48)

,fecha_dato,ncodpers,ind_empleado,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,indrel,ult_fec_cli_1t,indrel_1mes,tiprel_1mes,indresi,indext,conyuemp,canal_entrada,indfall,tipodom,cod_prov,nomprov,ind_actividad_cliente,renta,segmento,ind_ahor_fin_ult1,ind_aval_fin_ult1,ind_cco_fin_ult1,ind_cder_fin_ult1,ind_cno_fin_ult1,ind_ctju_fin_ult1,ind_ctma_fin_ult1,ind_ctop_fin_ult1,ind_ctpp_fin_ult1,ind_deco_fin_ult1,ind_deme_fin_ult1,ind_dela_fin_ult1,ind_ecue_fin_ult1,ind_fond_fin_ult1,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
0,2015-01-28,1375586,N,ES,H,35,2015-01-12,0.0,6,1.0,NaN,1.0,A,S,N,NaN,KHL,N,1.0,29.0,MALAGA,1.0,87218.10,02 - PARTICULARES,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
2,2015-01-28,1050612,N,ES,V,23,2012-08-10,0.0,35,1.0,NaN,1.0,I,S,N,NaN,KHE,N,1.0,13.0,CIUDAD REAL,0.0,122179.11,03 - UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
3,2015-01-28,1050613,N,ES,H,22,2012-08-10,0.0,35,1.0,NaN,1.0,I,S,N,NaN,KHD,N,1.0,50.0,ZARAGOZA,0.0,119775.54,03 - UNIVERSITARIO,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
5,2015-01-28,1050615,N,ES,H,23,2012-08-10,0.0,35,1.0,NaN,1.0,I,S,N,NaN,KHE,N,1.0,45.0,TOLEDO,0.0,22220.04,03 - UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
6,2015-01-28,1050616,N,ES,H,23,2012-08-10,0.0,35,1.0,NaN,1.0,I,S,N,NaN,KHE,N,1.0,24.0,LEON,0.0,295590.36,03 - UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0

In [135]:
#train[train.fecha_dato<"2016-06-28"]
train=train[train.fecha_dato<train.fecha_dato.max()]
train.shape

(10933982, 48)

In [136]:
train.fecha_dato.max()

'2016-04-28'

In [140]:
test_private.shape

(955694, 48)

In [143]:
test_fdm = test_private.fecha_dato.max()
test_fdm

'2016-05-28'

In [142]:
test_private.fecha_dato.value_counts()

2016-05-28    65233
2016-04-28    64998
2016-03-28    64753
2016-02-28    64491
2016-01-28    64165
2015-12-28    63883
2015-11-28    63428
2015-10-28    62449
2015-09-28    60576
2015-08-28    59055
2015-07-28    58112
2015-06-28    44281
2015-05-28    44271
2015-04-28    44150
2015-03-28    44085
2015-02-28    43945
2015-01-28    43819
Name: fecha_dato, dtype: int64

In [144]:
test_public.fecha_dato.value_counts()

2016-05-28    65253
2016-04-28    65027
2016-03-28    64774
2016-02-28    64511
2016-01-28    64189
2015-12-28    63891
2015-11-28    63515
2015-10-28    62504
2015-09-28    60595
2015-08-28    59044
2015-07-28    58083
2015-06-28    44435
2015-05-28    44397
2015-04-28    44294
2015-03-28    44179
2015-02-28    44055
2015-01-28    43920
Name: fecha_dato, dtype: int64

In [145]:
test_private = test_private[test_private.fecha_dato==test_fdm]
test_public = test_public[test_public.fecha_dato==test_fdm]

In [147]:
display(test_private.fecha_dato.value_counts())
display(test_public.fecha_dato.value_counts())

2016-05-28    65233
Name: fecha_dato, dtype: int64

2016-05-28    65253
Name: fecha_dato, dtype: int64

In [148]:
display(test_private.ncodpers.nunique())
display(test_public.ncodpers.nunique())

65233

65253

In [151]:
# DSave to disk 
%time train.to_csv("train_fr.csv.gz")

CPU times: user 3min 42s, sys: 82.2 ms, total: 3min 42s
Wall time: 3min 42s

In [152]:
test_private.head()

,fecha_dato,ncodpers,ind_empleado,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,indrel,ult_fec_cli_1t,indrel_1mes,tiprel_1mes,indresi,indext,conyuemp,canal_entrada,indfall,tipodom,cod_prov,nomprov,ind_actividad_cliente,renta,segmento,ind_ahor_fin_ult1,ind_aval_fin_ult1,ind_cco_fin_ult1,ind_cder_fin_ult1,ind_cno_fin_ult1,ind_ctju_fin_ult1,ind_ctma_fin_ult1,ind_ctop_fin_ult1,ind_ctpp_fin_ult1,ind_deco_fin_ult1,ind_deme_fin_ult1,ind_dela_fin_ult1,ind_ecue_fin_ult1,ind_fond_fin_ult1,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
12715859,2016-05-28,657790,N,ES,V,42,2006-11-18,0.0,114,1.0,NaN,1,A,S,N,NaN,KBF,N,1.0,48.0,BIZKAIA,1.0,NaN,02 - PARTICULARES,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,1.0,1.0,1
12715879,2016-05-28,657847,N,ES,H,36,2006-11-18,0.0,114,1.0,NaN,1,I,S,N,NaN,KFC,N,1.0,48.0,BIZKAIA,0.0,NaN,02 - PARTICULARES,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
12715880,2016-05-28,657806,N,ES,V,38,2006-11-18,0.0,114,1.0,NaN,1,I,S,S,NaN,KFC,N,1.0,28.0,MADRID,0.0,82488.78,02 - PARTICULARES,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
12715884,2016-05-28,657842,N,ES,H,40,2006-11-18,0.0,18,1.0,NaN,1,A,S,N,NaN,KHK,N,1.0,33.0,ASTURIAS,1.0,NaN,02 - PARTICULARES,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0.0,0.0,0
12715911,2016-05-28,657682,N,ES,V,52,2010-04-24,0.0,73,1.0,NaN,1,A,S,N,NaN,KAG,N,1.0,28.0,MADRID,1.0,586051.71,02 - PARTICULARES,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0

In [157]:
test_private.loc[:,~test_private.columns.isin(target_cols)]

,fecha_dato,ncodpers,ind_empleado,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,indrel,ult_fec_cli_1t,indrel_1mes,tiprel_1mes,indresi,indext,conyuemp,canal_entrada,indfall,tipodom,cod_prov,nomprov,ind_actividad_cliente,renta,segmento
12715859,2016-05-28,657790,N,ES,V,42,2006-11-18,0.0,114,1.0,NaN,1,A,S,N,NaN,KBF,N,1.0,48.0,BIZKAIA,1.0,NaN,02 - PARTICULARES
12715879,2016-05-28,657847,N,ES,H,36,2006-11-18,0.0,114,1.0,NaN,1,I,S,N,NaN,KFC,N,1.0,48.0,BIZKAIA,0.0,NaN,02 - PARTICULARES
12715880,2016-05-28,657806,N,ES,V,38,2006-11-18,0.0,114,1.0,NaN,1,I,S,S,NaN,KFC,N,1.0,28.0,MADRID,0.0,82488.78,02 - PARTICULARES
12715884,2016-05-28,657842,N,ES,H,40,2006-11-18,0.0,18,1.0,NaN,1,A,S,N,NaN,KHK,N,1.0,33.0,ASTURIAS,1.0,NaN,02 - PARTICULARES
12715911,2016-05-28,657682,N,ES,V,52,2010-04-24,0.0,73,1.0,NaN,1,A,S,N,NaN,KAG,N,1.0,28.0,MADRID,1.0,586051.71,02 - PARTICULARES
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13647251,2016-05-28,1166731,N,ES,H,23,2013-08-14,0.0,33,1.0,NaN,1,I,S,N,NaN,KHE,N,1.0,50.0,ZARAGOZA,0.0,68038.44,03 - UNIVERSITARIO
13647263,2016-05-28,1166747,N,ES,H,22,2013-08-14,0.0,33,1.0,NaN,1,I,S,N,NaN,KHE,N,1.0,8.0,BARCELONA,0.0,120408.27,03 - UNIVERSITARIO
13647267,2016-05-28,1166743,N,ES,H,22,2013-08-14,0.0,33,1.0,NaN,1,I,S,N,NaN,KHE,N,1.0,8.0,BARCELONA,0.0,460125.45,03 - UNIVERSITARIO
13647273,2016-05-28,1166737,N,ES,V,22,2013-08-14,0.0,33,1.0,NaN,1,I,S,N,NaN,KHE,N,1.0,8.0,BARCELONA,0.0,199811.46,03 - UNIVERSITARIO
13647296,2016-05-28,1166773,N,ES,H,23,2013-08-16,0.0,33,1.0,NaN,1.0,I,S,N,NaN,KHE,N,1.0,44.0,TERUEL,0.0,83822.43,03 - UNIVERSITARIO