In [67]:
from init import *

In [68]:
pd.options.display.max_columns

100

In [177]:
%time train = pd.read_csv("train_ver2.csv")
display(train.head())
display(train.shape)

/home/raischel/Envs/ds1/lib64/python3.10/site-packages/IPython/core/magics/execution.py:1335: DtypeWarning: Columns (5,8,11,15) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code, glob, local_ns)

CPU times: user 39.2 s, sys: 52.8 s, total: 1min 32s
Wall time: 2min 26s

,fecha_dato,ncodpers,ind_empleado,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,indrel,ult_fec_cli_1t,indrel_1mes,tiprel_1mes,indresi,indext,conyuemp,canal_entrada,indfall,tipodom,cod_prov,nomprov,ind_actividad_cliente,renta,segmento,ind_ahor_fin_ult1,ind_aval_fin_ult1,ind_cco_fin_ult1,ind_cder_fin_ult1,ind_cno_fin_ult1,ind_ctju_fin_ult1,ind_ctma_fin_ult1,ind_ctop_fin_ult1,ind_ctpp_fin_ult1,ind_deco_fin_ult1,ind_deme_fin_ult1,ind_dela_fin_ult1,ind_ecue_fin_ult1,ind_fond_fin_ult1,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
0,2015-01-28,1375586,N,ES,H,35,2015-01-12,0.0,6,1.0,NaN,1.0,A,S,N,NaN,KHL,N,1.0,29.0,MALAGA,1.0,87218.10,02 - PARTICULARES,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
1,2015-01-28,1050611,N,ES,V,23,2012-08-10,0.0,35,1.0,NaN,1.0,I,S,S,NaN,KHE,N,1.0,13.0,CIUDAD REAL,0.0,35548.74,03 - UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
2,2015-01-28,1050612,N,ES,V,23,2012-08-10,0.0,35,1.0,NaN,1.0,I,S,N,NaN,KHE,N,1.0,13.0,CIUDAD REAL,0.0,122179.11,03 - UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
3,2015-01-28,1050613,N,ES,H,22,2012-08-10,0.0,35,1.0,NaN,1.0,I,S,N,NaN,KHD,N,1.0,50.0,ZARAGOZA,0.0,119775.54,03 - UNIVERSITARIO,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
4,2015-01-28,1050614,N,ES,V,23,2012-08-10,0.0,35,1.0,NaN,1.0,A,S,N,NaN,KHE,N,1.0,50.0,ZARAGOZA,1.0,NaN,03 - UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0

(13647309, 48)

In [182]:
train_uid = set(train.ncodpers.unique())

In [183]:
len(train_uid)

956645

In [184]:
train.fecha_dato.value_counts()

2016-05-28    931453
2016-04-28    928274
2016-03-28    925076
2016-02-28    920904
2016-01-28    916269
2015-12-28    912021
2015-11-28    906109
2015-10-28    892251
2015-09-28    865440
2015-08-28    843201
2015-07-28    829817
2015-06-28    632110
2015-05-28    631957
2015-04-28    630367
2015-03-28    629209
2015-02-28    627394
2015-01-28    625457
Name: fecha_dato, dtype: int64

In [185]:
train_fdm = train.fecha_dato.max()
train_fdm

'2016-05-28'

# Split Train / Test Set

In [186]:
#!Not yet!!
#test = train[train.fecha_dato==train_fdm].copy()
test=train.copy()

In [187]:
display(test.shape)
display(test.fecha_dato.max())

(13647309, 48)

'2016-05-28'

In [188]:
display(train.shape)
display(train.fecha_dato.max())
#train = train[train.fecha_dato<train_fdm] #not yet!
display(train.shape)
display(train.fecha_dato.max())

(13647309, 48)

'2016-05-28'

(13647309, 48)

'2016-05-28'

## check that all test UIDs are a subset of train UIDS

In [189]:
train_uid = set(train.ncodpers.unique())
display(len(train_uid))
test_uid = set(test.ncodpers.unique())
display(len(test_uid))
display(test_uid.issubset(train_uid))

956645

956645

True

In [190]:
len(test_uid.intersection(train_uid))

956645

# Create raindom split train private / public

In [191]:
help(input)

Help on method raw_input in module ipykernel.kernelbase:

raw_input(prompt='') method of ipykernel.ipkernel.IPythonKernel instance
    Forward raw_input to frontends

    Raises
    ------
    StdinNotImplementedError if active frontend doesn't support stdin.

In [192]:
rs = int(input());

1234

In [193]:
np.random.seed(rs)
test_private_uid = np.random.choice(list(new_test_uid), size=int(len(new_test_uid)/2), replace=False)

In [194]:
test_public_uid = new_test_uid.difference(test_private_uid)

In [195]:
display(len(test_public_uid))
display(len(test_private_uid))

475976

475976

In [196]:
475976+475976

951952

In [88]:
test_public_uid.intersection(test_private_uid)

set()

# Modified find target: add last date

In [197]:
def df2target(df,uid):
    """ 
    converts a competition data frame filteredd for a given uid into a target string 
    with the submissionformat:
    
    must return df of format
    ncodpers,added_products
    15889,ind_tjcr_fin_ult1
    15890,ind_tjcr_fin_ult1 ind_recibo_ult1
    15892,ind_nomina_ult1
    15893,
    etc.
    """
    #dfi = df.ncodpers==uid#.isin(ncodpers)
    dfi=df[df.ncodpers==uid].sort_values("fecha_dato",  ascending=True)
    #dfi.sort("fecha_dato", inplace=True, ascending=True)
    dfid=dfi[target_cols].diff(axis=0)
    dfid = dfid.iloc[-1:,:]#[dfid.fecha_dato==data_max]
    a=dfid[dfid >0].stack()#.index.tolist()
    a=a.reset_index()["level_1"].unique().tolist()
    a=",".join([str(uid),]+a)
    return a

In [150]:
#test_public_data = []
#for uid in list(test_public_uid)[101:111]:
#test_public_data.append(df2target(test, uid))# , test.fecha_dato.max()))
#%lprun df2target(test, uid)
def testrun():
    test_public_data = []
    for uid in list(test_public_uid)[101:131]:
        test_public_data.append(df2target(test, uid))# , test.fecha_dato.max()))
%prun -s cumulative  -l 10 testrun()

In [ ]:
import multiprocessing

#def sumall(value):
#    return sum(range(1, value + 1))

pool_obj = multiprocessing.Pool()
N = pool.map(partial(df2target, b=second_arg), a_args)
answer = pool_obj.map(sumall,range(0,5))
print(answer)

In [152]:
%%time
test_public_data = []
for uid in list(test_public_uid):
    test_public_data.append(df2target(test, uid))# , test.fecha_dato.max()))

CPU times: user 1h 37min 49s, sys: 2.01 s, total: 1h 37min 51s
Wall time: 1h 37min 52s

In [201]:
test.sort_values(["ncodpers","fecha_dato"], ascending=True, inplace=True)
test.head(20)

,fecha_dato,ncodpers,ind_empleado,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,indrel,ult_fec_cli_1t,indrel_1mes,tiprel_1mes,indresi,indext,conyuemp,canal_entrada,indfall,tipodom,cod_prov,nomprov,ind_actividad_cliente,renta,segmento,ind_ahor_fin_ult1,ind_aval_fin_ult1,ind_cco_fin_ult1,ind_cder_fin_ult1,ind_cno_fin_ult1,ind_ctju_fin_ult1,ind_ctma_fin_ult1,ind_ctop_fin_ult1,ind_ctpp_fin_ult1,ind_deco_fin_ult1,ind_deme_fin_ult1,ind_dela_fin_ult1,ind_ecue_fin_ult1,ind_fond_fin_ult1,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
416965,2015-01-28,15889,F,ES,V,56,1995-01-16,0.0,245,1.0,NaN,1.0,A,S,N,N,KAT,N,1.0,28.0,MADRID,1.0,326124.9,01 - TOP,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,1,0,0.0,0.0,0
836224,2015-02-28,15889,F,ES,V,56,1995-01-16,0.0,245,1.0,NaN,1.0,A,S,N,N,KAT,N,1.0,28.0,MADRID,1.0,326124.9,01 - TOP,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0.0,0.0,0
1673961,2015-03-28,15889,F,ES,V,56,1995-01-16,0.0,245,1.0,NaN,1.0,A,S,N,N,KAT,N,1.0,28.0,MADRID,1.0,326124.9,01 - TOP,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0.0,0.0,0
1882060,2015-04-28,15889,F,ES,V,56,1995-01-16,0.0,245,1.0,NaN,1.0,A,S,N,N,KAT,N,1.0,28.0,MADRID,1.0,326124.9,01 - TOP,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0.0,0.0,0
3144382,2015-05-28,15889,F,ES,V,56,1995-01-16,0.0,245,1.0,NaN,1.0,A,S,N,N,KAT,N,1.0,28.0,MADRID,1.0,326124.9,01 - TOP,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,1,0,0.0,0.0,0
3565837,2015-06-28,15889,F,ES,V,56,1995-01-16,0.0,245,1.0,NaN,1.0,A,S,N,N,KAT,N,1.0,28.0,MADRID,1.0,326124.9,01 - TOP,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,1,0,0.0,0.0,0
4078996,2015-07-28,15889,F,ES,V,56,1995-01-16,0.0,245,1.0,NaN,1,A,S,N,N,KAT,N,1.0,28.0,MADRID,1.0,326124.9,01 - TOP,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,1,0,0.0,0.0,0
5319234,2015-08-28,15889,F,ES,V,56,1995-01-16,0.0,246,1.0,NaN,1.0,A,S,N,N,KAT,N,1.0,28.0,MADRID,1.0,326124.9,01 - TOP,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0.0,0.0,0
5705188,2015-09-28,15889,F,ES,V,56,1995-01-16,0.0,247,1.0,NaN,1.0,A,S,N,N,KAT,N,1.0,28.0,MADRID,1.0,326124.9,01 - TOP,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0.0,0.0,0
6973298,2015-10-28,15889,F,ES,V,56,1995-01-16,0.0,248,1.0,NaN,1,A,S,N,N,KAT,N,1.0,28.0,MADRID,1.0,326124.9,01 - TOP,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0.0,0.0,0
7450451,2015-11-28,15889,F,ES,V,56,1995-01-16,0.0,249,1.0,NaN,1.0,A,S,N,N,KAT,N,1.0,28.0,MADRID,1.0,326124.9,01 - TOP,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0.0,0.0,0
8617992,2015-12-28,15889,F,ES,V,56,1995-01-16,0.0,250,1.0,NaN,1,A,S,N,N,KAT,N,1.0,28.0,MADRID,1.0,326124.9,01 - TOP,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,1,0,0.0,0.0,0
9401570,2016-01-28,15889,F,ES,V,56,1995-01-16,0.0,251,1.0,NaN,1.0,A,S,N,N,KAT,N,1.0,28.0,MADRID,1.0,326124.9,01 - TOP,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,1,0,0.0,0.0,0
10426092,2016-02-28,15889,F,ES,V,56,1995-01-16,0.0,252,1.0,NaN,1.0,A,S,N,N,KAT,N,1.0,28.0,MADRID,1.0,326124.9,01 - TOP,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0.0,0.0,0
11170871,2016-03-28,15889,F,ES,V,56,1995-01-16,0.0,253,1.0,NaN,1.0,A,S,N,N,KAT,N,1.0,28.0,MADRID,1.0,326124.9,01 - TOP,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,1,0,0.0,0.0,0
12221013,2016-04-28,15889,F,ES,V,56,1995-01-16,0.0,254,1.0,NaN,1,A,S,N,N,KAT,N,1.0,28.0,MADRID,1.0,326124.9,01 - TOP,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0.0,0.0,0
13026343,2016-05-28,15889,F,ES,V,56,1995-01-16,0.0,255,1.0,NaN,1.0,A,S,N,N,KAT,N,1.0,28.0,MADRID,1.0,326124.9,01 - TOP,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,1,0,0.0,0.0,0
416966,2015-01-28,15890,A,ES,V,62,1995-01-16,0.0,246,1.0,NaN,1.0,A,S,N,N,KAT,N,1.0,28.0,MADRID,1.0,71461.2,02 - PARTICULARES,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,1,0,0,1,0,0,1.0,1.0,1
836223,2015-02-28,15890,A,ES,V,62,1995-01-16,0.0,246,1.0,NaN,1.0,A,S,N,N,KAT,N,1.0,28.0,MADRID,1.0,71461.2,02 - PARTICULARES,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,1,0,0,1,0,0,1.0,1.0,1
1673960,2015-03-28,15890,A,ES,V,62,1995-01-16,0.0,246,1.0,NaN,1.0,A,S,N,N,KAT,N,1.0,28.0,MADRID,1.0,71461.2,02 - PARTICULARES,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,1,0,0,1,0,0,1.0,1.0,1

In [204]:
def df2target_subset(df):
    """ 
    works with an already subset on uid df 
    converts a competition data frame filteredd for a given uid into a target string 
    with the submissionformat:
    
    must return df of format
    ncodpers,added_products
    15889,ind_tjcr_fin_ult1
    15890,ind_tjcr_fin_ult1 ind_recibo_ult1
    15892,ind_nomina_ult1
    15893,
    etc.
    """
    #dfi = df.ncodpers==uid#.isin(ncodpers)
    #dfi=df[df.ncodpers==uid].sort_values("fecha_dato",  ascending=True)
    #dfi.sort("fecha_dato", inplace=True, ascending=True)
    dfid=df[target_cols].diff(axis=0)
    dfid = dfid.iloc[-1:,:]#[dfid.fecha_dato==data_max]
    a=dfid[dfid >0].stack()#.index.tolist()
    a=a.reset_index()["level_1"].unique().tolist()
    a=",".join([str(uid),]+a)
    return a

In [205]:
%%time 
test_public_data = []
for _, subsetDF in test.groupby('ncodpers'):
    test_public_data.append(df2target_subset(subsetDF))

CPU times: user 34min 55s, sys: 8.13 s, total: 35min 3s
Wall time: 35min 23s

In [ ]:
%%time 
test_private_data = []
for _, subsetDF in test.groupby('ncodpers'):
    test_public_data.append(df2target_subset(subsetDF))

In [153]:
test_private_data = []
for uid in list(test_private_uid):
    test_private_data.append(df2target(test, uid))# , test.fecha_dato.max()))

In [156]:
display(len(test_private_data))
display(test_private_data[:20])

475976

['1003668',
 '875599',
 '135569',
 '23170',
 '1020119',
 '296731',
 '1282795',
 '183494',
 '596263',
 '431288',
 '1269260',
 '1423996',
 '150311',
 '1425128',
 '1450509',
 '454875',
 '918798',
 '743057',
 '1083137',
 '1529854']

In [157]:
display(len(test_public_data))
display(test_public_data[:20])

475976

['15891',
 '15892',
 '15895',
 '15897',
 '15902',
 '15906',
 '15907',
 '15908',
 '15910',
 '15911',
 '15913',
 '15920',
 '15922',
 '15923',
 '15924',
 '15929,ind_recibo_ult1',
 '15930',
 '15932',
 '15933',
 '15936']

In [164]:
with open("test_public_data_soln.csv", "w") as f:
          [f.write(i+"\n") for i in test_public_data]

In [165]:
with open("test_private_data_soln.csv", "w") as f:
          [f.write(i+"\n") for i in test_private_data]

In [170]:
#help(pd.read_csv)#("test_public_data_soln.csv")
pd.read_csv("test_public_data_soln.csv", infer=5000)

TypeError: read_csv() got an unexpected keyword argument 'infer'

In [154]:
#5% taxa
#for i in range(100):
#    uid = list(test_public_uid)[i]
#    #uid
#    dfi=test[test.ncodpers==uid].sort_values("fecha_dato",  ascending=True)
#    dfid=dfi[target_cols].diff(axis=0)
#    dfid = dfid.iloc[-1:,:]#.reset_index()
#    a=dfid[dfid >0].stack()
#    display(a)

# Split Train / Test Set

In [176]:
display(train.shape)
display(train.fecha_dato.max())
display(test.shape)
display(test.fecha_dato.max())

(12715856, 48)

'2016-04-28'

(12715856, 48)

'2016-04-28'

In [172]:
#Now since we have created the solution, we can create the actual test set 
# i.e. last date in train set and without target column 
test = train[train.fecha_dato==train_fdm].copy()

In [173]:
display(test.shape)
display(test.fecha_dato.max())

(0, 48)

nan

In [77]:
display(train.shape)
display(train.fecha_dato.max())
train = train[train.fecha_dato<train_fdm]
display(train.shape)
display(train.fecha_dato.max())

(13647309, 48)

'2016-05-28'

(12715856, 48)

'2016-04-28'

## check that all test UIDs are a subset of train UIDS

In [78]:
train_uid = set(train.ncodpers.unique())
display(len(train_uid))
test_uid = set(test.ncodpers.unique())
display(len(test_uid))
display(test_uid.issubset(train_uid))

951952

956645

False

In [79]:
len(test_uid.intersection(train_uid))

951952

In [80]:
new_test_uid = test_uid.intersection(train_uid)
test = test[test.ncodpers.isin(new_test_uid)]
display(test.shape)

(13642616, 48)

In [81]:
#test again 
train_uid = set(train.ncodpers.unique())
display(len(train_uid))
test_uid = set(test.ncodpers.unique())
display(len(test_uid))
display(test_uid.issubset(train_uid))

951952

951952

True

## Remove test IDs without match in train from test and solutions

# Remove target columsn from test set

# Write all to disk