In [43]:
import pandas as pd
import numpy as np

In [44]:
test=pd.read_csv('test_new.csv')
train=pd.read_csv('train_new.csv')

C:\Users\Regina Duarte\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (11,15) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
C:\Users\Regina Duarte\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (5,8,10,11,15) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [45]:
test.columns

Index(['fecha_dato', 'ncodpers', 'ind_empleado', 'pais_residencia', 'sexo',
       'age', 'fecha_alta', 'ind_nuevo', 'antiguedad', 'indrel',
       'ult_fec_cli_1t', 'indrel_1mes', 'tiprel_1mes', 'indresi', 'indext',
       'conyuemp', 'canal_entrada', 'indfall', 'tipodom', 'cod_prov',
       'nomprov', 'ind_actividad_cliente', 'renta', 'segmento',
       'ind_ahor_fin_ult1', 'ind_aval_fin_ult1', 'ind_cco_fin_ult1',
       'ind_cder_fin_ult1', 'ind_cno_fin_ult1', 'ind_ctju_fin_ult1',
       'ind_ctma_fin_ult1', 'ind_ctop_fin_ult1', 'ind_ctpp_fin_ult1',
       'ind_deco_fin_ult1', 'ind_deme_fin_ult1', 'ind_dela_fin_ult1',
       'ind_ecue_fin_ult1', 'ind_fond_fin_ult1', 'ind_hip_fin_ult1',
       'ind_plan_fin_ult1', 'ind_pres_fin_ult1', 'ind_reca_fin_ult1',
       'ind_tjcr_fin_ult1', 'ind_valo_fin_ult1', 'ind_viv_fin_ult1',
       'ind_nomina_ult1', 'ind_nom_pens_ult1', 'ind_recibo_ult1'],
      dtype='object')

In [46]:
products=list(test.columns[24:])
products

['ind_ahor_fin_ult1',
 'ind_aval_fin_ult1',
 'ind_cco_fin_ult1',
 'ind_cder_fin_ult1',
 'ind_cno_fin_ult1',
 'ind_ctju_fin_ult1',
 'ind_ctma_fin_ult1',
 'ind_ctop_fin_ult1',
 'ind_ctpp_fin_ult1',
 'ind_deco_fin_ult1',
 'ind_deme_fin_ult1',
 'ind_dela_fin_ult1',
 'ind_ecue_fin_ult1',
 'ind_fond_fin_ult1',
 'ind_hip_fin_ult1',
 'ind_plan_fin_ult1',
 'ind_pres_fin_ult1',
 'ind_reca_fin_ult1',
 'ind_tjcr_fin_ult1',
 'ind_valo_fin_ult1',
 'ind_viv_fin_ult1',
 'ind_nomina_ult1',
 'ind_nom_pens_ult1',
 'ind_recibo_ult1']

In [47]:
sample=pd.read_csv('sample_test.txt')

In [48]:
sample

   ncodpers                     added_products
0     15889                  ind_tjcr_fin_ult1
1     15890  ind_tjcr_fin_ult1 ind_recibo_ult1
2     15892                    ind_nomina_ult1

In [58]:
sample['first_pred']=sample.added_products.str.split(' ')
def first_product_predicted(x):
    return x.split(' ')[0]
sample['first_pred']=sample.added_products.apply(first_product_predicted)

In [59]:
sample

   ncodpers                     added_products         first_pred
0     15889                  ind_tjcr_fin_ult1  ind_tjcr_fin_ult1
1     15890  ind_tjcr_fin_ult1 ind_recibo_ult1  ind_tjcr_fin_ult1
2     15892                    ind_nomina_ult1    ind_nomina_ult1

In [69]:
df=pd.DataFrame(columns=products)
ID = sample.ncodpers.values
df['ncodpers']=sample.ncodpers
df.fillna(0, inplace=True)
for val in sample.ncodpers.values:
    for prod in products:
        if prod in sample[sample.ncodpers==val].added_products.values[0]:
            df.loc[df.ncodpers==val, prod]=1

In [78]:
pred = pd.DataFrame(np.random.rand(150000, 24), columns=products)
pred_first = pred.idxmax(axis=1)
pred_first

0         ind_dela_fin_ult1
1         ind_ctpp_fin_ult1
2         ind_plan_fin_ult1
3         ind_deco_fin_ult1
4         ind_deme_fin_ult1
                ...
149995    ind_pres_fin_ult1
149996    ind_cder_fin_ult1
149997    ind_ecue_fin_ult1
149998    ind_nom_pens_ult1
149999    ind_ecue_fin_ult1
Length: 150000, dtype: object

In [84]:
def Map1(test, pred):
    ''' test is the test dataframe
    pred is a list of firts predictions'''
    lista=[]
    for index, row in test.iterrows():
        variable=pred_first[index]
        if row[variable]==1:
            lista.append(1)
        else:
            lista.append(0)
    return np.mean(lista)

In [85]:
Map1(test, pred_first)

0.05535333333333333

In [73]:
test[products]

,ind_ahor_fin_ult1,ind_aval_fin_ult1,ind_cco_fin_ult1,ind_cder_fin_ult1,ind_cno_fin_ult1,ind_ctju_fin_ult1,ind_ctma_fin_ult1,ind_ctop_fin_ult1,ind_ctpp_fin_ult1,ind_deco_fin_ult1,...,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
0,0,0,1,0,0,0,0,1,0,0,...,0,1,0,0,0,0,0,0.0,0.0,0
1,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,0
3,0,0,1,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0.0,0.0,0
4,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149995,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,0
149996,0,0,1,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0.0,0.0,0
149997,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,1
149998,0,0,1,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0.0,0.0,0
149999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,0

In [71]:
df[products].idxmax(axis=1)

0    ind_tjcr_fin_ult1
1    ind_tjcr_fin_ult1
2      ind_nomina_ult1
dtype: object